<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="scss.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="./slick/slick.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Антон Якименко</title>
</head>
<body>
div.wrap
  div.top
    <img class="logo" src="./img/logo.png" alt="">
    ul.menu
      li Shop All
      li Our Story
      li Blog
      li Catalog
  div.top-container
    div.top-container-left
      div.top-container-title Effective and ecological skincare
      div.top-container-text We create unique products that will keep your skin in tone and that you will fall in love with after just a few uses. By the way, we do not test it on animals.
      div.top-container-btn-view
        div.top-container-btn Make an order
        div.top-container-view View catalog 
    div.top-container-right
      <img class="" src="./img/right-img-top.png" alt="">
  div.top-container2  
    div.top-container2-left
      div.top-container2-text Here you will find products for all night and day steps and for all skin types.
    div.top-container2-right
      <img class="" src="./img/image_2.png" alt="">
  div.top-container3 
    div.top-container3-left
      <img class="" src="./img/image_2.png" alt="">   
    div.top-container3-right
      div.top-container3-text Here you will find products for all night and day steps and for all skin types.
  div.container-center
    div.container-title Products
    div.container-text Healthy skin, confident you
    div.container-center-products
      div.container-center-product
        <img class="" src="./img/prodict_1.png" alt="">   
        div.container-product-catigory-price
          div.container-product-catigory Cleanser
          div.container-product-price $ 71.00 USD
        div.container-product-text Anti Acne washing gel
        div.container-product-btn Shop now
      div.container-center-product
        <img class="" src="./img/prodict_2.png" alt="">   
        div.container-product-catigory-price
          div.container-product-catigory Cleanser
          div.container-product-price $ 71.00 USD
        div.container-product-text Anti Acne washing gel
        div.container-product-btn Shop now
      div.container-center-product
        <img class="" src="./img/prodict_3.png" alt="">   
        div.container-product-catigory-price
          div.container-product-catigory Cleanser
          div.container-product-price $ 71.00 USD
        div.container-product-text Anti Acne washing gel
        div.container-product-btn Shop now
      div.container-center-product
        <img class="" src="./img/prodict_4.png" alt="">   
        div.container-product-catigory-price
          div.container-product-catigory Cleanser
          div.container-product-price $ 71.00 USD
        div.container-product-text Anti Acne washing gel
        div.container-product-btn Shop now   
    div.three-img
      div.img-text
        <img class="" src="./img/image_5.png" alt="">   
        div.text Face wash
      div.img-text
        <img class="" src="./img/image_11.png" alt="">   
        div.text Serum 
      div.img-text
        <img class="" src="./img/image___.png" alt="">   
        div.text Cream   
    div.blog-bottom
      div.blog-title EcoSnake blog
div.blog-block      
  div.blog-block-left    
    <img class="" src="./img/image_8.png" alt="">         
  div.blog-block-right     
    div.blog-block-title What does your skin need?
    div.blog-block-btn Read more
div.blog-block      
  div.blog-block-left    
    <img class="" src="./img/image_17.png" alt="">         
  div.blog-block-right     
    div.blog-block-title What does your skin need?
    div.blog-block-btn Read more  
footer
  div.two-title 
    div.title EcoSnake

  div.text-two-menu          
    div.text A wide range of products that do not harm the planet, but effectively keep your skin in tone, is right here.          
    div.footer-row
      div.text-menu1 
        ul
          li Home        
          li Home 2        
          li Shop all        
          li  Our story       
          li  Blog       
          li  FAQs       
      div.text-menu2  
        ul
         li Pages        
         li Contact us        
         li Instructions        
         li Style Guide     
         li Licenses      
         li Changelog     
  div.text-footer 380500354787 ntoh955@gmail.com      
</body>

  <div id="top" onclick="toTop();"><img class="on__top__btnimg" src="./img/image_1.png" alt="no pic" /></div>


</html>

<script src="./jquery-1.12.4.js" type="text/javascript"></script>
<script src="./slick/slick.min.js" type="text/javascript"></script>
<script src="./script.js" type="text/javascript"></script>